<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">
	<display-name>calculator</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
    
    <filter>
       <filter-name>AuthFilt</filter-name>
       <filter-class>AuthFilter</filter-class>
    </filter> 
    
    <filter-mapping>
        <filter-name>AuthFilt</filter-name>
        <url-pattern>/calc</url-pattern>
    </filter-mapping>

<!-- For Security with realm, roles
	<login-config>
		<auth-method>BASIC</auth-method>
		<realm-name>Test</realm-name>
	</login-config>

	<security-constraint>
		<web-resource-collection>
			<web-resource-name>all</web-resource-name>
			<url-pattern>/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>admin</role-name>
		</auth-constraint>
	</security-constraint>
	<security-role>
		<role-name>admin</role-name>
	</security-role>
-->
	<!-- Uncomment this only in case that annotation WevService is commented 
		<servlet> <servlet-name>MySer</servlet-name> <servlet-class>CalcServlet</servlet-class> 
		</servlet> <servlet-mapping> <servlet-name>MySer</servlet-name> <url-pattern>/calc</url-pattern> 
		</servlet-mapping> -->
</web-app>